<mat-grid-list cols="8" rowHeight="4:1" *ngIf="showPopup">
  <mat-grid-tile>

    <mat-select [(ngModel)]="columnName">
      <mat-option value="position">position</mat-option>
      <mat-option value="name">name</mat-option>
      <mat-option value="weight">weight</mat-option>
      <mat-option value="symbol">symbol</mat-option>

    </mat-select>

  </mat-grid-tile>
  <mat-grid-tile>

    <mat-select [(ngModel)]="selectedFilterType">
      <mat-option value="equals">Is Equal To</mat-option>
      <mat-option value="notEquals">Is Not Equal To</mat-option>
      <mat-option value="contains">Contains</mat-option>
      <mat-option value="notContains">Does Not Contain</mat-option>
      <mat-option value="startsWith">Starts With</mat-option>
      <mat-option value="endsWith">Ends With</mat-option>
    </mat-select>
  </mat-grid-tile>
  <mat-grid-tile>

    <mat-form-field class="example-form-field">

      <input matInput type="text" [(ngModel)]="inputValue">
      <button *ngIf="inputValue" matSuffix mat-icon-button aria-label="Clear" (input)="onInputChange($event)"
        (click)="inputValue=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>

    <button mat-raised-button color="primary" (click)="applyFilter()">Apply</button>
    <button mat-raised-button (click)="resetTable()">Reset</button>
  </mat-grid-tile>
</mat-grid-list>



<table *ngIf="dataSource" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No.


    </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>

  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name
      <button style="font-size: 10px;" mat-icon-button (click)="toggleDiv()"> <mat-icon>menu</mat-icon></button>


    </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>