/* Style to hide the popup using the 'hidden' class */
.popup.hidden {
    display: none;
  }
  
  /* Styles for the overlay */
  .popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin-left: 25%;
  }
  
  /* Styles for the popup content */
  .popup-content {
    background-color: #fff;
    padding: 10%;
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
  }
  
  /* Style for the close button (an "x" icon) */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .close:hover {
    color: red;
  }
  