 /* Hide the popup by default */
.popup {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  max-width: 250px; /* Set the maximum width */
}

/* Show the popup when it's active */
.popup.active {
  display: block;
}


/* Reduce the size of Angular Material input fields */
.mat-form-field {
  font-size: 14px; /* Adjust the font size as needed */
  padding: 4px 8px; /* Adjust padding as needed */
  margin: 4px 0; /* Adjust margins as needed */
  width: auto; /* Set width to auto or a specific value */
}

/* Reduce the size of Angular Material input elements */
.mat-input-element {
  font-size: 14px; /* Adjust the font size as needed */
  padding: 4px 8px; /* Adjust padding as needed */
}
