<mat-sidenav-container class="sidenav-container">
    <!-- Side Navigation -->
    <mat-sidenav #drawer mode="side" [(opened)]="isExpanded">
      <mat-nav-list>
        <a mat-list-item routerLink="/home" (click)="closeSidenav()">🏠 Home</a>
        <a mat-list-item routerLink="/about" (click)="closeSidenav()">About</a>
        <a mat-list-item routerLink="/colFilter" (click)="closeSidenav()">Mat Table</a>
        <a mat-list-item routerLink="/builtindirectives" (click)="closeSidenav()">Directives</a>
        <a mat-list-item routerLink="/storeExample" (click)="closeSidenav()">NGRX Store</a>
        <a mat-list-item routerLink="/rxjs" (click)="closeSidenav()">RxJs Operators</a>
        <a mat-list-item routerLink="/matTable" (click)="closeSidenav()">Mat Table</a>
       
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- Main Content -->
    <mat-sidenav-content>
      <!-- Top Navbar with Hamburger Menu -->
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="toggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="toolbar-title">My App</span>
      </mat-toolbar>
  
      <!-- Page Content -->
      <div class="content">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  